# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build

# Compiled stuff
*.class

.vscode

*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties