# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Compiled stuff
*.class

.vscode

*.iml
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
release